
body {
  background: #111;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 20px;
}
input, button {
  margin: 5px;
  padding: 5px;
}
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}
table th, table td {
  border: 1px solid #555;
  padding: 8px;
  text-align: left;
}
