body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
}
.container {
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding-top: 30px;
}
input, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  font-size: 1em;
}
button {
  background-color: #007acc;
  color: white;
  border: none;
}